

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button type="button" class="btn btn-success"><a href="https://localhost:44320/Story/Viewcreate">Tạo</a></button>
<table class="table">
    <tr>
        <th>
            Tên tác giả
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Thao tác
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AuthorName
            </td>
            <td>
                <img src=" @item.AuthorAvatar" width="200px" height="200px" />
            </td>
            <td>
                @item.AuthorDateOfBirth
            </td>
            <td>
                <a href="/Author/Delete?id=@item.AuthorId" class="btn btn-danger btn-sm" style="color:white"><i class="fas fa-trash-alt"></i></a>
                <a href="/Author/Detail?id=@item.AuthorId" class="btn btn-danger btn-sm" style="color:white"><i class="fas fa-info-circle"></i></a>
                <a href="/Author/Viewupdate?id=@item.AuthorId" class="btn btn-danger btn-sm" style="color:white"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
    }
</table>
@if (ViewBag.Thongdieptacgia == true)
{
    <script>
        window.addEventListener('load', (event) => {
            Swal.fire(
                'Bạn đã thêm thành công tác giả',
                'bấm vào đây',
                'success'
            )
        })
    </script>
}