
@{
    ViewBag.Title = "Viewcreate";
}
<h2>Viewcreate</h2>
<div style="margin-left:20%;background-color:sandybrown;width:50%">
    <form action="/Author/Create" method="post" enctype="multipart/form-data">
        <label>Tên tác giả</label>
        <input type="text" class="form-control" name="tentacgia" id="theloai" />
        <label>Ảnh</label>
        <input type="file" class="form-control" name="anhtacgia" />
        <label>Năm sinh</label>
        <input type="date" class="form-control" name="namsinh" />
        <br />
        <label>Mô tả</label>
        <textarea name="motatacgia" class="form-control">
        
        </textarea>
        <button type="submit" class="btn-danger" onclick="clickk()">Tạo</button>
    </form>
</div>
<script src="~/Content/Ckeditor/ckeditor/ckeditor.js">

</script>
<script>
    CKEDITOR.replace('motatacgia')
</script>